@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'kurdish_font';
  src: url('@/assets/fonts/kurdish-font.woff2') format('woff2'),
    url('@/assets/fonts/kurdish-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bg-sm-green {
  background-color: #00BFA6 !important;
}

.text-sm-green {
  color: #00BFA6 !important;
}

html,
body {
  font-family: 'kurdish_font', sans-serif !important;
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
}

table {
  width: 100%;
  border-spacing: 0;
}

table tbody tr td {
  border-bottom: 1px solid #edecec;
  padding: 0.3rem 0.5rem;
}

table tbody tr {
  transition: all ease-in-out 0.10s;
}

table tbody tr:hover {
  background-color: #eef0f09b;
}